* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-width: 100%;
    min-height: 100%;
    font-family: "VT323", sans-serif;
}

body {
    background-image: linear-gradient(to right bottom, #de4889, #c92b90, #ad0e99, #8700a4, #4e10ae);
}

header {
    display: flex;
    align-items: center;
}

div.writer {
    position: relative;
}

div.writer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: .25rem;
    height: 35%;
    margin: 2rem 0;
    animation: blinkCursor 1s steps(3) infinite;
    background-color: #ffffff;
    box-shadow:  .5rem .5rem .5rem rgba(100,100,100,.75);
}

header h1 {
    color: #ffffff;
    font-size: 3rem;
    letter-spacing: 5px;
    text-shadow: .5rem .5rem .5rem rgba(100,100,100,.75);
    margin: 1rem;
    white-space: nowrap;
    animation: typing 10s steps(18) infinite;
    overflow: hidden;
}

header img {
    height: 4rem;
    margin: 1rem;
    filter: drop-shadow(.5rem .5rem .5rem rgba(100,100,100,.75));
}

@keyframes typing {
    0%,90%,100%
    {
        width: 0;
    }
    30%,60%
    {
        width: 453.6px;
    }
}

@keyframes blinkCursor {
    0%, 75%
    {
        opacity: 1;
    }
    76%, 100%
    {
        opacity: 0;
    }
    
}